<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.qf.day23bindservicedemo"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <!--配置activity的生命周期不受横竖屏切换、键盘弹出、屏幕尺寸变化的影响
    给activity增加configChanges属性
    <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".TaotaoService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>
